/* special styles for fullpage homework simulator */

html, body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	font-family: "Roboto", sans-serif;
}

.mp-debugger {
	position: absolute;
	top: 80px;
	right: 24px;
	bottom: 52px;
	left: 24px;
}

#footer {
	height: 20px;
	position: absolute;
	right: -8px;
	bottom: -36px;
	left: -8px;
	font-size: 14px;
	color: #A0A0A0;
	text-align: right;
}

#footer a:link, #footer a:visited {
	color: #A0A0A0;
}

#footer a:hover {
	color: black;
}

@media (max-width:1024px) {
	.mp-debugger {
		height: 784px;
		margin-bottom: 52px;
	}

	.mp-debugger .mp-editor {
		width: auto;
		height: 50%;
		left: -8px;
		right: -8px;
	}

	.mp-debugger .mp-runtime {
		width: auto;
		height: 50%;
		top: 50%;
		left: -8px;
		right: -8px;
	}

	.mp-debugger .mp-runtime .mp-wrapper {
		top: 16px;
	}
}
