// [MiniPy] /site/scss/_editor.scss

#editor {
	width: 50%;
	height: $panel-height;
	position: absolute;
	top: 0;
	left: -($panel-padding / 2);
	overflow: hidden;

	&.locked {
		.panel-description {
			width: 88px;
			background-image: url("../static/icons/lock.png");
			background-size: 16px 16px;
			background-position: left center;
			background-repeat: no-repeat;
			text-align: right;
		}

		.CodeMirror {
			background-color: $background-gray;
		}
	}

	&.visible-tabs .CodeMirror .cm-tab {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=");
		background-position: right 5px;
		background-repeat: no-repeat;
	}

	.CodeMirror {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		cursor: text;

		.CodeMirror-lines {
			padding: 12px 0;

			.CodeMirror-line {
				height: 18px;
				padding-left: 8px;
				line-height: 18px;
			}
		}

		.CodeMirror-linenumber {
			padding-right: 8px;
			font-size: 10px;
			line-height: 19px;
		}
	}

	.active-line {
		background-color: $detail-gray;
	}

	.active-line-right {
		border-radius: 0 4px 4px 0;
	}

	.active-line-left {
		border-radius: 4px 0 0 4px;
	}

	.error-token {
		border-bottom: solid $banner-red 2px;
	}

	#banner {
		height: 24px;
		padding: 12px 24px 12px 64px;
		display: inline-block;
		position: absolute;
		right: $panel-padding;
		bottom: $panel-padding;
		background-size: 36px;
		background-position: 12px center;
		background-repeat: no-repeat;
		border-radius: 4px;
		box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
		font-size: 16px;
		line-height: 24px;
		text-align: right;
		color: white;
		z-index: 1000;

		&.type-generic {
			background-color: $banner-gray;
			padding-left: 24px;
		}

		&.type-ok {
			background-color: $banner-green;
			background-image: url("../static/icons/banner_ok.png");
		}

		&.type-warning {
			background-color: $banner-yellow;
			background-image: url("../static/icons/banner_error.png");

			&::before {
				content: "Warning: ";
				font-weight: bold;
			}
		}

		&.type-error {
			background-color: $banner-red;
			background-image: url("../static/icons/banner_error.png");

			&::before {
				content: "Error: ";
				font-weight: bold;
			}
		}
	}
}
