// [MiniPy] /site/scss/_scope.scss

#scope {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -8px;
	bottom: 0;

	li {
		.identifier {
			margin-left: 8px;
			font-weight: bold;
		}

		.value {
			margin-right: 8px;
			float: right;
		}
	}
}
