// [MiniPy] /site/scss/_stdout.scss

#stdout {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: -8px;
	bottom: 0;

	li {
		.value {
			margin-left: 8px;
		}

		.origin {
			margin-right: 8px;
			float: right;
			color: rgb(192, 192, 192);

			&::before {
				content: "Line ";
			}
		}
	}
}
