// [MiniPy] /site/scss/main.scss

$background-gray:       rgb(248, 248, 248);
$button-disabled-gray:  rgb(120, 121, 123);
$detail-gray:           rgb(224, 224, 224);
$light-text-gray:       rgb(192, 192, 192);

$banner-green:          rgb(39,  174, 96);
$banner-yellow:         rgb(241, 196, 15);
$banner-red:            rgb(231, 76,  60);
$banner-gray:           rgb(149, 165, 166);

$control-height: 64px;
$panel-height: 384px;
$footer-height: 64px;
$panel-padding: 16px;

html, body {
	margin: 0;
	padding: 0;
	background-color: $background-gray;
	font-family: "Roboto", sans-serif;
}

@import 'controls';
@import 'debugger';
@import 'media';
